.header{
    background-color: black;
    width: 100vw;
    height: 10vh;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-right: 30vw; 
}

.bookbtn{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page{
    color: yellow;
    display: flex;
    justify-content: space-around;
    width: 10vw;
}


.active{
    border-bottom: 5px solid red;
}